<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <title>CRUD Simples</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <body>
        <div class="container">
          <h1>Gerenciador</h1>
          <form id="form">
            <input type="text" id="name" placeholder="Nome" required />
            <button type="submit">Adicionar</button>
          </form>
          <ul id="items"></ul>
        </div>      

  <script src="/script.js"></script>
</body>
</html>
